<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <title>{{ .Site.Title }}</title>

  {{ partial "head/meta.html" . }}
  {{ partial "head/style.html" . }}
  {{ partial "head/favicons.html" . }}

</head>
<body>
  {{ partial "header/header.html" . }}

  <main class="container">
    <div class="row g-5">

      <!-- Blog posts -->
      <div class="col-md-8">
        {{ $posts := .Site.GetPage "posts" }}
        {{ range $posts.Pages }}
          {{ partial "post" . }}
        {{ end }}
      </div>

      <div class="col-md-4">
        {{ partial "sidebar.html" . }}
      </div>

    </div>
  </main>

  {{ partial "footer/footer.html" . }}
</body>
</html>
